<div class="header-container">
    <div class="header-titulo">
        <a href="{% url 'lista_produto' %}">
            <p>
                <i class="fa-solid fa-cart-shopping"></i>
                tecnoShopp
                <i class="fa-solid fa-truck-fast"></i>
            </p>
        </a>
    </div>
    <nav class="header-nav">
        <div>
            <ul>
                <li>Cadastrar
                    <ul>
                        <li>
                            <a href="{% url 'criar_produto' %}">Novo Item</a>
                        </li>
                        <li>
                            <a href="{% url 'criar_categoria' %}">Nova Categoria</a>
                        </li>
                        <li><a href="{% url 'lista_categoria' %}">Lista Categoria</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>