{% extends 'index.html' %}

{% block content %}
    <form class="formulario" action="#" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Cadastrar Nova Categoria</legend>
            <label for="nome">Digite um Nome para categoria</label>
            <input type="text" name="nome" id="categoria" maxlength="30" required>

            <div>
                <input type="submit" value="Criar">
                <input type="reset" value="Limpar">
            </div>
       </fieldset>
    </form>
{% endblock %}