body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: rgb(16, 8, 42);
    margin: auto;
    padding: 15px;
    right: 400px;
}

.header-titulo {
    margin: auto;
    padding: 5px;
    margin: auto;
    width: 200px;
}

.header-titulo a {
    text-align: center;
    color: azure;
}

.header-titulo p{
    text-transform: uppercase;
    padding: 10px;
    margin: auto;
    background-color: rgb(93, 10, 10);
} 

.header-container a {
    text-decoration: none;
}

.header-container a:hover {
    color: rgb(246, 246, 9);
}

.header-nav {
    font-size: 10px;
    text-align: end;
    margin-right: 30px;
}

.header-nav a {
    text-transform: uppercase;
    color: aqua;
    padding: 5px;
    margin: 5px;
}

main {
    height: 90vh;
}

.main-lista-produto {
    width: 100%;
    height: 100%;
    overflow: auto;
}


.footer {
    background-color: darkgray;
    color: darkslategrey;
    text-align: end;
    font-size: 10px;
    padding: 5px;
    margin: auto;
    position: relative;
}

.footer-nome {
    position: absolute;
    text-align: justify;
    bottom: 5px;
}