body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    background-color: rgb(16, 8, 42);
    padding: 15px;

}

.header-titulo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: auto;  
}

.header-titulo a {
    color: azure;
}

.header-titulo p{
    margin: auto;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(93, 10, 10);
} 

.header-container a {
    text-decoration: none;
    margin: auto;
}

.header-nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: end;
}

.header-nav li {
    color: aqua;
    list-style: none;
    text-transform: uppercase;
    padding: 5px;
}

.header-nav a {
    text-transform: uppercase;
    font-size: 10px;
    color:yellowgreen;
}

.header-container a:hover {
    color: darkcyan;
    font-weight: bold;
}

main {
    height: auto;
    background-color: rgb(195, 199, 199);
}

.main-lista-produto {
    margin: auto;
    width: 90%;
    min-height: 75vh;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 10px;
}

.card   {
    background-color: white;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    width: 300px;
    height: auto;
    border: 1px solid darkgray;
    border-radius: 5px;

}

.card ul {
    list-style: none;
    text-align: end;
    margin-right: 10px;
    padding: 10px;
    display: block;
}

.card ul li {
    margin-bottom: 5px;
}

.descricao {
    width: 100%;
    height: 70px;
    padding: 5px;
    border: 1px solid rgb(177, 166, 166);
    text-align: left;
    overflow: auto;
}

.card-categoria {
    color: darkblue;
}

.card-categoria:hover {
    font-weight: bold;
}

.quantidade-input{
    margin-bottom: 5px;
    width: 60px;
}

.quantidade i {
    padding: 5px;
    margin: 5px;
}

.card-link {
    text-align: end;
    font-size: 15px;
    margin: 5px;
    padding : 10px;
}
.card-link a {
    margin: 5px;
}

.card-link-atualizar {
    color: green;
}

.card-link-atualizar:hover {
    font-weight: bold;
}

.card-link-deletar {
    color: red;
}

.card-link-deletar:hover {
    font-weight: bold;
}

.card a {
    text-decoration: none;
}


.formulario {
    width: 20%;
    height: 50%;
    min-height: 80vh;

    font-size: 20px;

    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formulario fieldset {
    background-color: azure;

    margin: 5px;
    padding: 15px;

    display: flex;
    flex-direction: column;
}

.formulario legend {
    background-color: grey;
    color: darkslategrey;
    text-transform: uppercase;
}

.formulario input:focus {
    background-color: rgba(128, 128, 128, 0.2);
}

.form-descricao {
    padding: 30px;
}

.formulario fieldset select {
    margin-bottom: 15px;
}

.formulario div {
    text-align: end;
}
.formulario div input:hover {
    font-weight: bold;
    color: darkred;
}

.lista-categoria {
    height: 90vh;
    padding: 50px;
}

.lista-categoria table {
    background-color: aliceblue;
    margin: auto;
    padding: 15px;
    width: 60%;

    border: 1px solid gray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-categoria tr th{
    padding-bottom: 15px;
    width: 500px;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}

.lista-categoria tr td {
    padding: 5px;
}

.td-link {
    text-align: center;
}

.td-link a {
    color: red;
}

.td-link a:hover {
    font-weight: bold;
}
 



.footer {
    background-color: darkgray;
    color: darkslategrey;
    font-size: 10px;
}

.footer-box {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

#footer-p-1 {
    padding-left: 15px;
}

#footer-p-2 {
    padding-right: 15px;
}
