{% extends 'index.html' %}

{% block content %}

    <form class="formulario" action="#" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Atualizar Item</legend>
            {% for p in produto %}
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" value="{{p.nome}}">
                <label for="descricao">Descrição</label>
                <input class="form-descricao" type="text" name="descricao" id="descricao" value="{{p.descricao}}">
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria" required>
                    <option value="">Selecione</option>
                    {% for cat in categoria %}
                        <option value="{{ cat.index }}">{{ cat.nome }}</option>
                    {% endfor %}
                </select>
                <label for="quantidade">Quantidade</label>
                <input class="quantidade-input" type="number" min="0" max="2000" name="quantidade" id="quantidade" value="{{p.quantidade}}" required>
                <div>
                    <input type="submit" value="Atualizar">
                </div>
            {% endfor %}
        </fieldset>
    </form>
{% endblock %}