{% extends 'index.html' %}

{% block content %}

    <form action="#" method="post">
        {% csrf_token %}

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <br>
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao">
        <br>
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria" required>
            <option value="">Selecione</option>
            {% for cat in criar_produto %}
                <option value="{{ cat.index }}">{{ cat.nome }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Criar">
    </form>

{% endblock %}