{% extends 'index.html' %}

{% block content %}

    <form class="formulario" action="#" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Cadastrar Novo Item</legend>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" maxlength="20" required>
            <label for="descricao">Descrição</label>
            <input class="form-descricao" type="text" name="descricao" id="descricao">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" required>
                <option value="">Selecione</option>
                {% for cat in criar_produto %}
                    <option value="{{ cat.index }}">{{ cat.nome }}</option>
                {% endfor %}
            </select>
            <label for="quantidade">Quantidade</label>
            <input class="quantidade-input" type="number" min="0" max="2000" name="quantidade" id="quantidade" required>
            <div>
                <input type="submit" value="Criar">
                <input type="reset" value="Limpar">
            </div>
            
        </fieldset>
    </form>

{% endblock %}