{% extends 'index.html' %}

{% block content %}
    <div class="main-lista-produto">
        {% for lp in lista_produto %}
        <div>
            <ul>
                <li>{{ lp.nome }}</li>
                <li>{{ lp.descricao }}</li>
                <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

            </ul>
            <div>
                <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
                <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
            </div>
        </div>
    {% endfor %}
    <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>        <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>        <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>        <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>        <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>        <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>        <div>
        <ul>
            <li>{{ lp.nome }}</li>
            <li>{{ lp.descricao }}</li>
            <li><a href="/categoria/produto/{{lp.categoria.index}}/">{{ lp.categoria.nome }}</a></li>

        </ul>
        <div>
            <a href="/atualizar/produto/{{lp.index}}/">Atualizar</a>
            <a href="/deletar/produto/{{lp.index}}/">Deletar</a>
        </div>
    </div>
</div>
{% endblock %}