<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/head.html' %}
</head>
<body>
    {% include 'base/header.html' %}
    <main>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        {% block content %}
        {% endblock %}
    </main>
    
    {% include 'base/footer.html' %}

</body>
</html>